/*╭🌼────────────────· NOTAS: ·─────────────────────🌼╮
  │  🐾 seccion ABIERTA: falso []                     
  │  🌞 tareas ACTUALES: []                           
  │  🔬 tareas FUTURAS: []                           
  │  🌌 PENDIENTES: [ Quitar visibilidad a las forms.]                                
  ╰🌼───────────────────────────────────────────────🌼╯*/
/* RESETEO: PRINCIPAL  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fondo_cuerpo: #37323E;
  --letras_color: #4D2D52;
  --formularios_insumos_menu: #D9A248;
  --seleccion: #6D6A75;
  --letras_opcion: #37323E;
  --form__bg_insumos: #bf8b85;
  --form__borde_insumos: #dabeca;
  --borde_input: lightpink;
  --form__sombra: rgba(0, 0, 0, 0.05);
  --btn_insumos: #D46698;
  --letras_btn: #4D2D52;
  --borde: #37323E;
  --titulo: #4D2D52;
  --subtitulo: #574d68;
  --cabecera_bg: #f2e86d;
  --respuesta_bg: #B370B0;
  --respuesta_letra: #d1c8e1;
}

/* TIPOGRAFIA:  */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--fondo_cuerpo);
  color: var(--letras_color);
  padding: 20px;
  align-content: center;
}

/* CABECERA: */

#cabecera {
  background-color: var(--cabecera_bg);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 8px var(--form__sombra);
  margin-bottom: 2rem;
  text-align: center;
}

#cabecera #titulo {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--titulo);
}

#cabecera #subtitulo {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--subtitulo)
}

/* MENU: */

#menu_formularios {
  background-color: var(--formularios_insumos_menu);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
}

#menu_formularios ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

#menu_formularios li {
  color: var(--letras_opcion);
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#menu_formularios li :hover {
  background-color: var(--seleccion);
}

/* FORMULARIOS: */

#formularios__insumos_contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  min-height: 80vh;
}


.formularios_insumos form {
  width: 60%;
  text-align: center;
  background-color: var(--form__bg_insumos);
  border: 1px solid var(--form__borde__insumos);
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 0 3px var(--form__sombra);
}

/* CAMPOS: */

fieldset {
  padding: 5px;
  border-radius: 5px;
  border: 1px double var(--borde);
}

form label {
  display: block;
  margin: 8px 0 4px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--borde_input);
  border-radius: 15px;
}

form button {
  margin-top: 10px;
  background-color: var(--btn_insumos);
  color: var(--letras_btn);
  padding: 10px 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--seleccion);
}

/* VISIBILIDAD: */

.formularios_insumos form,
#formularios_insumos_todos {
  display: none;
}

.formularios_insumos .activo {
  display: block;
}


/*  MENSAJES: respuestas   */


.oculto {
  display: none;
}

.visible {
  display: block;
}

.mensaje-respuesta {
  margin-top: 4rem;
  padding: 2rem;
  width: fit-content;
  border-radius: 4px;
  font-weight: bold;
}

.success {
  color: var(--letras_opcion);
  background-color: #99d98c;
}

.error {
  color: var(--letras_color);
  background-color: #ff8fa3;
}
